.footer {
  border-top: 3px dotted $color-blue;
  padding: 20px;
  display: flex;
  height: 150px;
  display: flex;

  &__version {
    font-weight: 200;
    font-size: 0.5rem;
    padding-bottom: 5px;
    height: 100px;
    @include tablet() {
      font-size: 0.6rem;
    }
  }
}
